head{
    width:400px;
    height:300px;
  }
  /*para fotografia de fondo */
  body {
    background-image: url('	https://s3.us-east-2.amazonaws.com/mgpanel/954-professional-programmer-working-late-dark-office.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
  }
  
  /*borde*/
  *{
     box-sizing: border-box;
  }
  
  p{
     color:white;
     font-family:<link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,900&display=swap" rel="stylesheet">;
     
  }
  
   h1 {
  /*Titulo cv y recuadro*/
    color:yellow;
    width: 300px;
    padding: 20px;
    margin: 20px;
    /*------------------------ */
    border: 19px groove #1C6EA4;
    background-color:black;
    font-family:<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,900&display=swap" rel="stylesheet">
    text-align:center
  }
  img {
      border: 1px solid #ddd;
      border-radius: 20px;
      padding: 5px;
      width: 150px;
  } 
   /*Subtitulos*/
  h2, #bienvenido{
    border: 4px groove rgba(28, 110, 164, 0.99);
    color:chartreuse; 
    background-color:black ;
    font-family:'Kanit', sans-serif;
    font-size:24px;
    text-align:center; 
  }
  /*prueba en h3 */
  .Titulo_de_click{
    color:black;
    height: 24px;
    width: 24%;
    border:2px groove rgba(28, 110, 164, 0.99) ;
    background-color:lime;
  }
  
  /*diseño del boton */
  button {
    color: rgb(255, 255, 255);
     font-size: 16px; 
     line-height: 16px;
      padding: 6px; 
      border-radius: 10px;
       font-family: Georgia, serif;
        font-weight: normal; 
        text-decoration: none;
         font-style: normal;
          font-variant: normal;
           text-transform: none;
            background-image: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 50%, rgb(20, 78, 117) 100%);
             box-shadow: rgb(0, 0, 0) 5px 5px 15px 0px; 
             border: 2px solid rgb(28, 110, 164); 
             display: inline-block;
  
            }
  